.user-wrapper {
}
.title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 600;
  font-size: 1.2rem;
  color: #666;
}
.text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
